# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Speed Up 3d.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\My Projects\Speed Up 3d\.idea\.idea.Speed Up 3d\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
